extends baseEmail

block content
  p Hi #{firstName},
  p Forget your password, to change your password click on the link : #{url}
  p (website for this action not yet implemented.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') reset your password
  p if you did not change your password please ignore this message!